
@{
    ViewBag.Title = "ButtonsLink";
}

<link href="~/Content/ButtonsLinkstyle.css" rel="stylesheet" />
<script src="~/Scripts/ButtonsLinkscript.js"></script>

    <div id="jquery-script-menu">
        <div class="jquery-script-center">
            <div class="jquery-script-clear"></div>
        </div>
    </div>
    <div id="add-moment">
        <a href="#" id="plus-ex" class="plus"><img src="../../Content/Images//plus.png" width="104" height="104" alt="Add Moment"></a>
        <ul id="moment-buttons">
            <li class="icon-picture"><a href="#"><img src="../../Content/Images//icon-picture.png" width="84" height="84" alt="Picture"></a></li>
            <li class="icon-people"><a href="#"><img src="../../Content/Images//icon-people.png" width="84" height="84" alt="People"></a></li>
            <li class="icon-place"><a href="#"><img src="../../Content/Images//icon-place.png" width="84" height="84" alt="Place"></a></li>
            <li class="icon-music"><a href="#"><img src="../../Content/Images//icon-music.png" width="84" height="84" alt="Music"></a></li>
            <li class="icon-thought"><a href="#"><img src="../../Content/Images//icon-thought.png" width="84" height="84" alt="Thought"></a></li>
            <li class="icon-sleep"><a href="#"><img src="../../Content/Images//icon-sleep.png" width="84" height="84" alt="Sleep"></a></li>
        </ul>
    </div>

