
@{
    ViewBag.Title = "CanvasAnimation";
}

<script src="~/Scripts/CanvasAnimation_jquery-ui.min.js"></script>
<script src="~/Scripts/CanvasAnimation.js"></script>
<script src="~/Scripts/CanvasAnimationscripts.js"></script>
<script src="~/Scripts/jquery.canvas-animation.bundle.js"></script>
<link href="~/Content/jquery.canvas-animation.css" rel="stylesheet" />
<link href="~/Content/animationCanvas.css" rel="stylesheet" />
<link href="~/Content/CanvasAnimation.css" rel="stylesheet" />


    <div id="canvas" class="jca-ratio-16by9">
        <div class="square red"></div>
        <div class="square green"></div>
        <div class="square blue"></div>
        <div class="label">Loving Bangladesh !</div>
    </div>

