
@{
    ViewBag.Title = "Christmas";
}
        <script src="~/Scripts/Christmas_jquery.snow.js"></script>
        <script src="~/Scripts/show_ads.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        html, body {
            height: 100vh;
        }

        body {
            background-color: #0F8A5F;
        }

        h1 {
            margin: 200px auto 50px auto;
            color: #fff;
            text-align: center;
            font-family: 'Open Sans';
            font-size: 5em;
            padding-top: 50px;
            color:purple;
        }

    </style>


    <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.Vel dolorem,
        ducimus laudantium, earum eos natus sint voluptatum dolores fuga quibusdam consectetur dicta.        
    </h1>

    <script>
        var snowEffectInterval = jQuery.fn.snow({
            // min size of element (default: 90)
            minSize: 90,

            // max size of element (default: 140)
            maxSize: 140,

            // flake fall time multiplier (default: 20)
            fallTimeMultiplier: 20,

            // flake fall time difference (default: 100)
            fallTimeDifference: 100,

            // interval (miliseconds) between new element spawns (default: 100)
            spawnInterval: 100,

            // jQuery element to apply snow effect on (should work on any block element) (default: body)
            target: jQuery("body"),

            //elements to use in generating snow effect
            elements: [

              // Element #1
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ffffff'
              },

              // Element #2
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ed9b40'
              },

              // Element #3
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ffffff'
              },

              // Element #4
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#cc2037'
              },

              // Element #5
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ed3fc1'
              },

               // Element #6
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#3eed43'
              },

               // Element #7
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ed3e59'
              },

              // Element #8
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#eaed3e'
              },

               // Element #9
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#753eed'
              },

              // Element #10
              {
                  // html element to be spawned for this element
                  html: '<i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>',
                  // hex color for this element - works only for font based icons
                  color: '#ffffff'
              },
            ]
        });
    </script>
