
@{
    ViewBag.Title = "FlipImage";
}

<link href="~/Content/FlipImage.css" rel="stylesheet" />
<link href="~/Content/FlipImage_jquery.flipster.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/FlipImage_jquery.flipster.min.js"></script>

<style>
    .demo {
        padding: 0em 2em;
    }
</style>

<body>
    <header class="main-header">
        <h1>Flipster</h1>
        <nav class="main-header__nav" role="navigation">
            <a href="#demo-default">Default Settings (Coverflow)</a>
            <a href="#demo-carousel">Carousel</a>
            <a href="#demo-wheel">Wheel</a>
            <a href="#demo-flat">Flat</a>
        </nav>
    </header>
   
    <article id="demo-default" class="demo">
        <h2>(Coverflow)</h2>
        <div id="coverflow">
            <ul class="flip-items">
                <li data-flip-title="Red">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cyan" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Robin's Egg" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Sea" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Apple" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
            </ul>
        </div>

        <script>
            var coverflow = $("#coverflow").flipster();
        </script>
        </article>

      <article id="demo-carousel" class="demo">
        <h2>Flipster Carousel</h2>
        <div id="carousel">
            <ul class="flip-items">
                <li data-flip-title="Red">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cyan" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Robin's Egg" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Sea" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Apple" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Pistachio" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Pear" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Bright Sun" data-flip-category="Yellows">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Mikado" data-flip-category="Yellows">
                    <img src="../../Content/Images/9.jpg">
                </li>
            </ul>
        </div>

        <script>
            var carousel = $("#carousel").flipster({
                style: 'carousel',
                spacing: -0.5,
                nav: true,
                buttons: true,
            });
        </script>
    </article>

    <article id="demo-wheel" class="demo">
        <h2>Flipster Wheel</h2>
        <div id="wheel">
            <ul>
                <li data-flip-title="Red">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cyan" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Robin's Egg" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Sea" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Apple" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Pistachio" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Pear" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Bright Sun" data-flip-category="Yellows">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Mikado" data-flip-category="Yellows">
                    <img src="../../Content/Images/9.jpg">
                </li>
            </ul>
        </div>

        <script>
            var wheel = $("#wheel").flipster({
                style: 'wheel',
                spacing: 0
            });
        </script>
    </article>

    <article id="demo-flat" class="demo">
        <h2>Flipster Flat</h2>
        <div id="flat">
            <ul>
                <li data-flip-title="Red">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Cyan" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Robin's Egg" data-flip-category="Blues">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Deep Sea" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
                <li data-flip-title="Apple" data-flip-category="Greens">
                    <img src="../../Content/Images/9.jpg">
                </li>
            </ul>
        </div>

        <script>
            var flat = $("#flat").flipster({
                style: 'flat',
                spacing: -0.25
            });
        </script>
        @*<pre class="code">$("#flat").flipster({
            style: 'flat',
            spacing: -0.25
        });</pre>*@
     </article>

</body>

