@{
    ViewBag.Title = "Index";
}

<link href="~/Content/CustomIndex.css" rel="stylesheet" />

<marquee class="designAlign">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book.
</marquee>

    <section>
        <h2>BANGLADESH</h2>
        <div class="set">
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
        </div>
        <div class="set set2">
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
        </div>
        <div class="set set3">
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
            <div><img src="../../Content/Images/leaves1.jpg"></div>
            <div><img src="../../Content/Images/leaves2.jpg"></div>
            <div><img src="../../Content/Images/leaves3.jpg"></div>
            <div><img src="../../Content/Images/leaves4.jpg"></div>
        </div>
    </section>
