
@{
    ViewBag.Title = "MenuBars";
}

<link href="~/Content/MenuBarsStyle.css" rel="stylesheet" />


<link href="~/Content/MenuBarsPopup-plugin.css" rel="stylesheet" />
<link href="~/Content/MenuBarsPopupAdded.css" rel="stylesheet" />
<script src="~/Scripts/show_ads.js"></script>
<link href="~/Content/jquerysctipttop.css" rel="stylesheet" />
<link href="~/Content/MenuBarsgoogleapis.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            font-family: 'Roboto';
            background-color: #fafafa;
        }
    </style>

    <div class="displayBox" style="margin-top:150px;">
        <div class="header"><h1>Menus</h1></div>
        <div id="myPopUp" name="menu1" class="popupTheme" style="left: 36%">
            <i class="fa fa-cog leftBorder rightBorder"></i>
        </div>
        <br class="clear">

        <div id="myPopUp2" class="popupTheme popupThemered">
            <i class="fa fa-bars leftBorder rightBorder"></i>
        </div>

        <div id="myPopUp3" class="popupTheme popupThemecustom" style="left: 50%">
            <i class="fa fa-thumbs-up leftBorder rightBorder"></i>
        </div>
        <br class="clear">

        <div id="myPopUp4" class="popupTheme popupThemegreen" style="left: 36%">
            <i class="material-icons leftBorder rightBorder">more_vert</i>
        </div>

        <br class="clear">
        <br class="clear">
        <br class="clear">
        <p id="textPopup">Menu</p>
    </div>

    <script src="~/Scripts/MenuBarsjquery-3.2.1.min.js"></script>
    <script src="~/Scripts/MenuBarsjquery-ui.min.js"></script>
    <script src="~/Scripts/MenuBarsPopup-plugin.js"></script>
    <script src="~/Scripts/MenuBarsPopup.js"></script>
   