
@{
    ViewBag.Title = "MultipleEffects";
}
  
    <link href="~/Content/jquerysctipttop.css" rel="stylesheet" />
    <link href="~/Content/MultipleEffects.min.css" rel="stylesheet" />
    <script src="~/Scripts/MultipleEffects.min.js"></script>
   
   
     <style>
        body {
            background-color: #fafafa;
        }

        .container {
            margin: 150px auto;
        }
    </style>

<body style="overflow-x: hidden;">  
    <div class="container">
        <img src="https://source.unsplash.com/1600x1200/?girl" class="img-fluid">

          <h3>Fading In</h3>
        <div class="alert alert-danger" id="fadeinCode">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
            </p>
        </div>
        <h3>Fade Out</h3>
        <div class="alert alert-primary" id="fadeoutCode">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.   
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
             </p>
        </div>

        <p>HTML</p>
        <div class="alert alert-info" id="flyleftCode">
            <p class="lead">
                <img src="../../Content/Images/9.jpg" class="img-fluid" style="height:510px; width:1020px">
            </p>
        </div>    

        <h4>Fly From Right</h4>
        <div class="alert alert-info" id="flyrightCode">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
             </p>
        </div>        

        <h4>Fly From Left</h4>
        <div class="alert alert-info" id="flyleftCode">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
             </p>
        </div>
        <h3 class="fadein">Multiple Effects</h3>
        <div id="multipleEffectsCode">
            <p class="lead">
                Hariye jawa dinguli ajj mone Pore jay.. “
                koto srity kete gache hashi thattay..
                Jodio ajj nai kache hoyto onek duree, “
                Tobuo bondhu tumi accho hridoy jhure…</p>

             <p>   Aami utthal hobo, kintu matal hobo na.
                Aami nishthur hobo, kintu kosto debona.
                Aami megh hobo, kintu tumake vijte debona.
                Karon tumi aamar ‘FRIEND’.

                Dekhini tomar mukh shunini tomar kotha.
                Shudu payechi tomar sms. Hesechi r vebechi tomar mon koto sundor ,
                really i miss you friend.</p>

               <p> Bondhu mane duto ridoyer taan.
                Bondhu mane misty oviman.
                Bondhu mane sukh dukkher gan.
                Bondhu mane dui ta jibon er ekkta jeno pran !
             </p>
        </div>            

        <h3 class="fadein">Apply Same Effect to Muliple Objects</h3>
        <div id="multipleObjetsCode" class="fadein">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
             </p>
        </div>
        <p class="fadein">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
          </p>
    </div>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        function animations() {
            //Animate multiple objects the same way
            $(".fadein").scrollMation({ action: 'fadeIn', });
            //FadeIn Code Example
            $("#fadeinCode").scrollMation({ action: 'fadeIn', });
            //FadeOut Code Example
            $("#fadeoutCode").scrollMation({ action: 'fadeOut', scrollPos: 250, });
            //FadeOut Code Example
            $("#flyrightCode").scrollMation({ action: 'flyIn', startPos: 600, endPos: 0, });
            //FadeOut Code Example
            $("#flyleftCode").scrollMation({ action: 'flyIn', startPos: -600, endPos: 0, });
            //Multiple Code Example
            $("#multipleEffectsCode").scrollMation({ action: 'fadeIn', });
            $("#multipleEffectsCode").scrollMation({ action: 'flyIn', startPos: -600, endPos: 0, });
        }
        animations();
        $(window).scroll(function () {
            animations();
        });
    });

</script>

