
@{
    ViewBag.Title = "Parallax";
}
            <script src="~/Scripts/Parallax.min.js"></script>
            <script src="~/Scripts/show_ads.js"></script>
            <link href="~/Content/Parallax.css" rel="stylesheet" />


    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #222;
            font-family: 'Baloo Bhaijaan',cursive;
        }

        h1, h2, h3 {
            text-align: center;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }

        .Parallax {
            width: 19%;
            height: 200px;
            background: #ff5722;
            float: left;
            margin: .5%;
            border-radius: 15px;
        }

        .fw {
            width: 100%;
        }

        .green {
            background: #8bc34a;
        }

        .yellow {
            background: #ffc107;
        }

        .blue {
            background: #03a9f4;
        }

        .violet {
            background: #9c27b0;
        }

        .grey {
            background: #607d8b;
        }

        .header {
            height: auto;
            color: #fff;
            background: #ff9800;
        }

            .header h1 {
                padding: 100px 0;
                font-size: 1em;
            }

        .w3 {
            width: 32.333%;
        }

        .w4 {
            width: 24%;
        }

        .w2 {
            width: 49%;
        }

        .w5 {
            width: 19%;
        }

        .h2 {
            height: 400px;
        }

        .h5 {
            height: 50px;
        }
    </style>
   
        <div class="container">
        <div class="Parallax fw header">
            <h1> “একজন সত্যিকারের বন্ধু কখনই তোমাকে বাঁধা দেবেনা, যদি না তুমি ভুল পথে চলতে শুরু করো” যে সবার বন্ধু,
             সে আসলে কারোরই বন্ধু হয়না,প্রেম একদিন হারিয়ে যায় কিন্তু সত্যিকারে বন্ধুত্ব কখনই হারায় না,বন্ধুত্বই হলো একমাত্র সিমেন্ট,
             যা পৃথিবীকে একসাথে ধরে রাখবে পারবে,বন্ধুত্ব এবং ভালো ব্যবহার তোমাকে সেখানে নিয়ে যাবে, যেখানে অর্থও তোমায় নিয়ে যেতে পারবেনা,
                সত্যিকারের বন্ধুত্ব হল ভালো স্বাস্থ্যের মতো, যতক্ষণ না সেটা হারিয়ে যায় তার আসল গুরুত্ব উপলব্ধি করা যায়না,
                একটি ভালো বই ১০জন বন্ধুর সমান, কিন্তু একজন ভালো বন্ধু একটা সম্পূর্ণ লাইব্রেরীর সমান!!
             </h1>
        </div>

            <div class="Parallax w3 anim1"><p style="text-align: center; padding-top: 90px;">যেভাবে ধীরে ধীরে বেড়ে চলেছে মনে ভালোবাসা,সেখানে তোকে ছাড়া চায় না কিছু মন চাইছে তোর ইশারা।</p></div>
            <div class="Parallax w3 anim1"><p style="text-align: center; padding-top: 90px;">ভালোবাসা, কাকে বলে বুঝিনি আমি আগে,এলোমেলো, সবকিছু,কেন যে ভালো লাগে !</p></div>
            <div class="Parallax w3 anim1"><p style="text-align: center; padding-top: 90px;">আজ তুই মনের কথা বল,শুনি তোর মনের কথা বল,রে আজ তুই মনের কথা বল,শুনি তোর মনের কথা বল। </p></div>

            <div class="Parallax anim2 green"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax anim2 green"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax anim2 green"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax anim2 green"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax anim2 green"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>

            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim3"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>

            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>

            <div class="Parallax w4 anim5"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim5"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim5"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim5"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>

            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>  
               
            <div class="Parallax w4 anim6 blue"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim6 blue"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim6 blue"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>
            <div class="Parallax w4 anim6 blue"><img src="../../Content/Images/9.jpg" style="height:200px;width:292px;" /></div>

            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>

            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>

            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>

            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>

            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>
            <div class="Parallax w5 anim7 violet"><img src="../../Content/Images/9.jpg" style="height:200px;width:231px;" /></div>

            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>
            <div class="Parallax w2 anim4 yellow h2"><img src="../../Content/Images/9.jpg" style="height:400px;width:600px;" /></div>

            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">হয়ে আয় বন্ধুজন,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">হয়ে আয় না বাধ্য মন,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">বেসেছি তোকেই ভালো। !</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">হয়ে যা জলপরী,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আমি হবো তোরই পালক,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">বেসেছি তোকেই ভালো।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিনটা তোর,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিন আমার,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চল না এভাবে মরতে যাই বারেবার। </p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">বলবো কি বলবো না </p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ভেবে কত দিন,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">কাটাবি এমন করে ?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চলবো কি চলবো না</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">করে কত রাত,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ভাসাবি এমন করে?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিনটা তোর,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিন আমার,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চল না এভাবে মরতে যাই বারেবার।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ঘুরছে মন উড়ছে মন,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোর দুই পাশে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজকে এসেছি তাই জানাতে। </p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">এই সকাল অন্য হাল</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তুই নে ধরে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">এইবারে কে কাকে থামাবে?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিনটা তোর,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আজ হোক দিন আমার,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চল না এভাবে মরতে যাই বারেবার।</p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোকে ছাড়া বল</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">কি করে থাকি,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">আর একটি বার চল</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;"> মনে মন রাখি।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">সহেনা এ যাতনা যেন মরে যাই,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">মনের উঠনে আয় চলে আয়।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">এলোমেলো হয়ে যাই,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোরই ঘোরে রয়ে যাই।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তুই ছাড়া বেঁচে থাকার নেই উপায়। </p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ও... ভেসে চলি তোরই কিনারায়,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোকে খুঁজি মনের ঠিকানায়,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">হৃদয় চিড়ে দেখনা ওরে তুই</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">সবটা জুড়ে তুই যে শুধুই।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ও...দিশেহারা তোরই ভাবনায়,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তুই ছাড়া বোঝে কে আমায়?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">দুরে থাকা হয় কি ভাল আর,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ভালোবেসে কাছে নে আবার। </p></div>            
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">খেয়ালে - কোন বেখেয়ালে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চলেছি, তোর তালে তালে।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">মনে মনে কি কারণে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোকে ভেবে যাই ?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">রঙে রঙে তুলি টেনে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোর ছবি আঁকতে চাই।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চুপি চুপি এ মন,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">কবে হলো বেপরোয়া,বুঝিনি!</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">না বলে যে কবে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">সে হারালো তোর কাছে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">জানি নি!</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">ও.. মনে মনে কি কারণে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোকে ভেবে যাই ?</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">রঙে রঙে তুলি টেনে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">তোর ছবি আঁকতে চাই।</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">পায়ে - পায়ে - পায়ে,</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">কোথাও হারাই!</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">চল হাঁটি হাঁটি পায়ে পায়ে</p></div>
            <div class="Parallax w5 h5 anim8 grey"><p style="text-align: center; padding-top: 0px;">কোথাও হারাই!</p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div> 
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:cornsilk"><p style="text-align: center; font-size: 45px; color: crimson;">THE END</p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>
            <div class="Parallax w5 h5 anim8 black" style="background:black"><p style="text-align: center; padding-top: 0px;"></p></div>


    </div>

    <script>
        var skroll = new Skroll()
			.add(".header", {
			    animation: "zoomIn",
			    duration: 600
			})
			.add(".anim1", {
			    animation: "fadeInUp",
			    delay: 120,
			    duration: 600,
			    wait: 250
			})
			.add(".anim2", {
			    animation: "flipInX",
			    delay: 120,
			    duration: 750
			})
			.add(".anim3", {
			    animation: "rotateLeftIn",
			    delay: 100,
			    duration: 750
			})
			.add(".anim4", {
			    animation: "slideInLeft",
			    delay: 80,
			    duration: 800
			})
			.add(".anim5", {
			    animation: "growInLeft",
			    delay: 80,
			    duration: 500,
			    easing: "cubic-bezier(0.37, 0.27, 0.24, 1.26)"
			})
			.add(".anim6", {
			    animation: "growInRight",
			    delay: 80,
			    duration: 500,
			    easing: "cubic-bezier(0.37, 0.27, 0.24, 1.26)"
			})
			.addAnimation("spinIn", {
			    start: function (el) {
			        $(el).css({
			            transform: "rotate(-360deg) scale(.2,.2)",
			            transformOrigin: "50% 50%",
			            opacity: 0
			        });
			    },
			    end: function (el) {
			        $(el).css({
			            transform: "rotate(0deg) scale(1,1)",
			            opacity: 1
			        })
			    }
			})
			.add(".anim7", {
			    animation: "spinIn",
			    delay: 80,
			    duration: 500,
			    easing: "cubic-bezier(0.37, 0.27, 0.24, 1.26)"
			})
			.add(".anim8", {
			    animation: "fadeInDown",
			    delay: 75,
			    duration: 150,
			    triggerBottom: .98,
			    easing: "cubic-bezier(0.37, 0.27, 0.24, 1.26)"
			})
			.init();
        $(window).load(function (e) {
            skroll.recalcPosition();
        })
        setInterval(function () {
            skroll.recalcPosition();
        }, 2000)
    </script>
