
@{
    ViewBag.Title = "Paroller";
}

                <link href="~/Content/Parollerstyle.css" rel="stylesheet" />
                <script src="~/Scripts/fontawesome.js"></script>
                <script src="~/Scripts/jquery.paroller.js"></script>
                <script src="~/Scripts/Paroller.js"></script>
                <script src="~/Scripts/Parollerbuttons.js"></script>

<body class="is-loading">
    <div id="wrapper">  
        <section id="demo" class="wrapper fade-up">
            <div class="inner">
                <h2>Capture</h2>
                <h6 class="mega my-element"
                    data-paroller-factor="0.5"
                    data-paroller-factor-lg="0.4"
                    data-paroller-factor-md="0.3"
                    data-paroller-factor-sm="-0.2"
                    data-paroller-factor-xs="-0.1"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal">
                    "Jibon Holo Bachar Jonno" "Mon Holo Debar Jonno" ''Valobasa Holo Sara Jibon Pashe Thakar Jonno" R "Bondhutto Holo Jibon K Soondor Korar Jonno"
                </h6>
                <div class="show-more"><i class="fa fa-code"></i></div>
                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            তুমি কখনও যদি চাও
                            বন্ধুত্বকে কিনতে পারবে না,
                            কিন্তু তুমি যদি এটা উপার্জন করে নাও,
                            কেউ যদি সাহায্যের জন্য আসে,
                            তখন তুমি সত্যিকার বন্ধু হয়ে যেও।                           
                        </div>
                        <div>
                            <h5>Complement</h5>
                            একজন সত্যিকারের বন্ধু
                            দশ হাজার আত্মীয়ের সমান
                        </div>
                    </div>
                </div>
                <h6 class="mega align-right paroller-example">
                    Ami Tumar Bondhu Chilam Ajo 2mar Achi"
                    Vebona Onek Bondhu Peye Tumay Vule Gechi"
                    Kichu Kichu Bondhu Amon To Hoy"
                    Hajar Bondhu Asleo Se Vular Moto Noy..
                </h6>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            আমি হলাম তোমায় ছাড়া
                            অসম্পূর্ণ
                            তুমি আমায় ছাড়া
                            আমরা অসম্পূর্ণ
                            আমাদের বন্ধুত্ব ছাড়া !
                        </div>
                        <div>
                            <h5>Complement</h5>
                            বন্ধুত্ব কখনও বিচ্ছিন্ন হয়না
                            হয়না কখনও বিভাজন!                           
                            <br>
                            তারা গভীর ভাবে নীরবে
                            একে অপরকে সবসময়
                            হৃদয় দিয়ে অনুভব করে! <br>
                            তারা সবসময় বলে
                            বন্ধু ছিলাম আছি থাকবো
                            সদা তোমার পাশে, তোমার সাথে!<br>                                
                        </div>
                    </div>
                </div>

                <div class="jumbotron"
                     style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover;"
                     data-paroller-factor="0.5"
                     data-paroller-factor-xs="0.2">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            বন্ধুত্ব কখনও বিচ্ছিন্ন হয়না
                            হয়না কখনও বিভাজন!
                            তারা গভীর ভাবে নীরবে
                            একে অপরকে সবসময়
                            হৃদয় দিয়ে অনুভব করে!
                            তারা সবসময় বলে
                            বন্ধু ছিলাম আছি থাকবো
                            সদা তোমার পাশে, তোমার সাথে!
                        </div>
                        <div>
                            <h5>Complement</h5>
                            বন্ধুত্বের মুখোশধারী শক্ত পাথরের মতো
                            তাদের সর্বত্র দেখা যায়,
                            কিন্তু প্রকৃত বন্ধু হীরের মতো মূল্যবান
                            যা দুর্লভ!
                        </div>
                    </div>
                </div>

                <div class="jumbotron text-center my-5"
                     style="background: url(../../Content/Images/9.jpg) repeat center; background-size: cover;"
                     data-paroller-factor="-0.5"
                     data-paroller-factor-sm="-0.2"
                     data-paroller-factor-xs="-0.1">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            Valobasha toiri hoy valo laga theke,
                            sopno toiri hoy kolpona theke,
                            onuvob toiri hoy onuvuti theke,
                            ar bondhutto toiri hoy moner govir theke,
                        </div>
                        <div>
                            <h5>Complement</h5>
                            Bondhu jodi hou, megher moto,
                            dure jete debo na to,
                            bondhu jodi hou pakhir moto,
                            ure jete debo na to,
                            ki kore bojhabo tmay miss korchi koto.
                        </div>
                    </div>
                </div>

                <div class="jumbotron text-center my-5"
                     style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover; "
                     data-paroller-factor="-0.2">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            কোনো ওয়ার্ড বন্ধুর মতো
                            সুন্দর হয়না
                            বন্ধু হলো ওয়ান্ডারফুল
                            তোমার আমার বন্ধুত্ব থাকুক
                            এমনই বিউটিফুল
                        </div>
                        <div>
                            <h5>Complement</h5>
                            প্রানের চেয়ে প্রিয় ওগো
                            বন্ধ আমার
                            হাজার বছর বেঁচে রবে
                            বন্ধুত্ব দুজনার!
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="image"
                         style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover;"
                         data-paroller-factor="0.5"
                         data-paroller-factor-md="0.3"
                         data-paroller-factor-sm="0.2"
                         data-paroller-factor-xs="0.1">
                    </div>
                    <div class="image"
                         style="background: url(../../Content/Images/9.jpg) repeat center; background-size: cover; "
                         data-paroller-factor="-0.4">
                    </div>
                    <div class="image"
                         style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover; "
                         data-paroller-factor="-0.1">
                    </div>
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            যখন Allah আমাদের বন্ধুত্ব দিয়েছেন
                            তিনি করেছেন ফেয়ার
                            কিন্তু যখন আমি পেয়েছি তোমাকে
                            আমি তোমার সাথে সবকিছু করি শেয়ার।
                            <hr>
                            অনেক মানুষ তোমার জীবনে আসবে যাবে
                            কিন্তু শুধু সত্যিকারের একজন বন্ধু
                            তুমি কখনও পাবেনা,
                            আর পেলে কখনও হারিয়োনা তাকে!
                            <hr>
                            চাঁদকে বলে একটু আলো দিতে পারি তোমায়,
                            সেই আলোতে দেখে নিও পরান ভরে আমায়.
                            বাতাস হয়ে উড়িয়ে নেবো মেঘেরই উপরে ,
                            সন্ধ্যা হলে পৌঁছে দেব তোমার আপন ঘরে.
                        </div>
                        <div>
                            <h5>Complement</h5>
                            তোমার কাছে চাইনা কিছু
                            <hr>
                            দিলে ভালোবাসা
                            <hr>
                            জনম আমার ধন্য হবে
                            মিটবে মনের আশা!
                        </div>
                    </div>
                </div>

                <div class="jumbotron text-center my-5"
                     style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover;"
                     data-paroller-factor="-0.15" data-paroller-direction="horizontal">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            class="jumbotron"
                            মিষ্টি একটু হেসে
                            কথা বলে পাগল করে দিলে,
                            তোমায় নিয়ে হারিয়ে যাবো আকাশের ওই নীলে,
                            তোমার জন্য মনে আমার অফুরন্ত আশা,
                            সারা জীবন পেতে চাই আমি ‘তোমার ভালবাসা’ ।
                        </div>
                        <div>
                            <h5>Complement</h5>
                            মন যদি আকাশ হতো
                            তুমি হতে চাঁদ
                            ভালোবেসে যেতাম শুধু
                            হাতে রেখে হাত
                            সুখ যদি হৃদয় হতো
                            তুমি হতে হাসি
                            তুমি যতটা জানো তার থেকেও
                            অনেকটা বেশি আমি
                            ‘তোমায় ভালোবাসি’
                        </div>
                    </div>
                </div>

                <div class="jumbotron text-center my-5"
                     style="background: url(../../Content/Images/9.jpg) repeat bottom; background-size: cover; "
                     data-paroller-factor="0.3" data-paroller-direction="horizontal">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            ফুলের মতো বাসবো না ভালো
                            ফুল ৠতুতে ঝরে পড়ে ,
                            নদীর মতো বাসবো ভালো
                            যা বয়ে চলে চিরকাল ধরে।
                        </div>
                        <div>
                            <h5>Complement</h5>
                            বন্দী করে রাখবো তোমায়
                            চিরকালের তরে,
                            আঁধার তুমি দেখবে না প্রিয়া
                            আমার হৃদয় কারাগারে !
                        </div>
                    </div>
                </div>

                <div class="jumbotron text-center my-5"
                     style="background: url(../../Content/Images/9.jpg) no-repeat center; background-size: cover;"
                     data-paroller-factor="-0.5" data-paroller-direction="horizontal">
                </div>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            খুঁজিনি কারো মন তোমার মন পাবো বলে!
                            ধরিনি কারো হাত তোমার হাত ধরবো বলে!
                            হাঁটিনি কারো সাথেতোমার সাথে হাঁটবো বলে!
                            বাসিনি কাউকে ভালো কখনো তোমাকে বাসবো বলে!
                            খুব ভালোবাসি তোমাকে জান
                        </div>
                        <div>
                            <h5>Complement</h5>
                            জানিনা কতটুকু ভালোবাসি তোমায়,
                            শুধু বলবো আমার ভালোবাসার শেষ নেই,
                        </div>
                    </div>
                </div>

                <h6 class="mega align-center" data-paroller-factor="0.1" data-paroller-type="foreground">
                    তুমি যদি এর সীমানা খুজতে যাও
                    তুমি নিজেই হারিয়ে যাবে আমার ভালোবাসার অতল গভীরে ।
                </h6>

                <div class="show-more"><i class="fa fa-code"></i></div>

                <div class="popover">
                    <div class="popover-inner">
                        <div>
                            <h5>Text</h5>
                            সত্যিকারের ভালোবাসা কোন কিছু চায় না,
                            ভালোবাসাতে চোখই হলো মনের আয়না,
                            ভালোবাসায় আঘাত যত পাবে
                            ভালবাসা তত গাঢ় হবে ।
                        </div>
                        <div>
                            <h5>Complement</h5>
                            একটা কথা মনে রেখো প্রিয়
                            তোমাকে একজন মনে করে রোজই
                            তুমি এসএমএস করো বা না করো
                            তোমার মনের মেসেজ আছে
                            আমার হৃদয় জুড়ে !
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
                   
                    <script>
                        $(document)
                            .ready(function () {
                                //initialize paroller.js
                                $('[data-paroller-factor]').paroller();
                                //initialize paroller.js and set options for elements with .paroller class
                                $('.paroller-example').paroller({
                                    factorXs: 0.1,
                                    factorSm: 0.1,
                                    factorMd: -0.4,
                                    factorLg: -0.5,
                                    factorXl: -0.6,
                                    factor: -0.4,
                                    type: 'foreground',
                                    direction: 'horizontal'
                                });
                            });
                    </script>

      </body>
